{% extends 'bibliotheque/main.html' %}
{% block title %}
Type de metal
{% endblock %}


{% block titre %}
<h1> Bienvenue sur Wikital, le wiki qui regroupe les types et les groupe de metal dans le monde. </h1>
{% endblock %}

{% block nav %}
<nav class="navbarre"><a href="">Type de metal</a> <a href="/groupedemetal/indexgroupedemetal/">Groupe de metal</a> <a href="/groupedemetal/formulairetypedemetal/">Ajouter un type de metal</a> <a href="/groupedemetal/formulaire/">Ajouter un groupe de metal</a> </nav>
{% endblock %}

{% block content %}
<ol>
    {%for l in liste %}
        <li> {{l}} <a href="/groupedemetal/affichetypedemetal/{{l.id}}/"> affichage </a> <a href="/groupedemetal/updatetypedemetal/{{l.id}}/"> update </a> <a href="/groupedemetal/deletetypedemetal/{{l.id}}/"> delete </a></li>
    {% endfor %}
</ol>
{% endblock %}